.form__notify {
  position: fixed;
  z-index: -1;
  right: 20px;
  bottom: 20px;
  padding: 30px;

  color: #fff;
  text-align: center;
  background-color: #4481c3;
  border-radius: 3px;

  transition-duration: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.form__notify.active {
 visibility: visible;
 z-index:  1000;
 opacity: 1;
}

.form__notify-text {
  margin: 0;
  text-align: center;
}

